.idea/bangtoTICTECHTALK.iml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
front-end/public/favicon.ico
front-end/public/index.html
front-end/public/logo192.png
front-end/public/logo512.png
front-end/public/manifest.json
front-end/public/robots.txt
.idea/.gitignore
front-end/public/style.css
