@import 'reset.css';
@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f0e5;
  color: #000;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 라이트모드에서는 흰색인 요소들 */
.darkModeElement {
  background-color: #ffffff;
}

/* 다크모드 색 변환 */
body[data-theme='dark'] {
  background-color: #343e5a;
  color: #f3f0e5;
  .darkModeElement {
    background-color: #305480;
  }
}

/* 테두리가 둥근 박스 요소들에 적용 */
.roundedRectangle {
  width: 60%;
  border-radius: 10px;
}

/* 보이지 않게 감출 요소들에 적용 */
.hideElement {
  display: none;
}

/* 버튼 공통요소 정의 */
.btnElement {
  height: 3em;
  line-height: 1.5em;
  background-color: #007560;
  padding: 0.7em;
  color: #f3f0e5;
  border-radius: 10px;
  cursor: pointer;
}

/* textarea 공통 정의 */
textarea {
  font-family: 'D2Coding';
  resize: none;
  border: none;
}

.mainBoards {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-direction: column;
  align-items: center;

  > .mainImage {
    background-image: url('../backImg.jpg');
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .mainPhrase {
      color: #ffffff;
      font-family: 'D2Coding';
      font-size: 50px;
      font-weight: bold;
      padding: 5px 0;
      border-right: #ffffff 1px solid;
    }
  }

  > .mainPhrase {
    font-family: 'D2Coding';
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    color: #007560;
  }

  .cardWrap {
    display: flex;
    align-items: center;
    text-align: center;

    > .cardBtn {
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      cursor: pointer;
      background-color: #007560;
      color: white;
      font-weight: bold;
      margin: 10px;
    }

    > .mainCards {
      position: relative;
      overflow-x: hidden;
      width: 880px;

      > .cardSlide {
        display: flex;
        align-items: center;
        /* -220씩 */
        margin-left: 0px;
        transition: 300ms;

        .card {
          flex-shrink: 0;
          width: 200px;
          height: 150px;
          margin: 10px 10px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          > div {
            padding: 10px 0;
            color: #007560;
          }

          > .title {
            font-weight: bold;
            border-top: 1px solid #435350;
            border-bottom: 1px solid #435350;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          > .postDate {
            font-size: small;
          }
        }
      }
    }
  }
}

/* 모달창 */

.modalWrap {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #0000009e;
  z-index: 999;

  .modalContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > .modal {
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > .modalContent {
        padding: 50px 20px;
      }
    }
  }
}

/* 글쓰기, 목록, 수정, 삭제(까지 btnBox), 좋아요, 공유하기(까지 btnBox2) 버튼 */

.btnBox2 {
  width: 100%;
}

.writeBtn,
.updateBtn,
.deleteBtn,
.bookMarkBtn,
.shareBtn {
  float: right;
}

.deleteBtn,
.shareBtn {
  margin: 0 10px;
}

/* 여기서부터 게시글 상세보기 */

.boardViewBox {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  > div {
    height: 100%;
    padding: 10px;
  }
}

.boardProfile {
  display: flex;
  align-items: center;
}

.boardprofileImg {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #ffc000;
  margin-right: 5px;
}

.boardInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  border-top: #007560 1px solid;
}

.boardViewTitle {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  border-top: #007560 1px solid;
  border-bottom: #007560 1px solid;
}

.boardViewContent {
  line-height: 1.3em;
}

.quoteLink {
  width: 100%;
  font-size: 0.9em;
  border-bottom: 1px solid #007560;
}

/* 댓글 */

.commentBox {
  width: 60%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.comment {
  padding: 10px;
  border-top: 1px solid #007560;
  border-bottom: 1px solid #007560;
  margin: 10px;
}

.cmUpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cmInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}

.cmName {
  margin: 0 5px;
}

.cmBtn {
  > button {
    background-color: #00000000;
    cursor: pointer;
  }
}

.cmContent {
  margin: 10px;
}

.replyCm {
  margin-left: 40px;
}

.cmPage {
  text-align: center;
  margin-top: 10px;
}

.cmWriteForm {
  margin: 20px 0;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  height: 5em;

  > textarea {
    height: 100%;
    width: 80%;
    padding: 10px;
    margin: 10px;
    resize: none;
    color: inherit;
    border: 1px solid #007560;
    border-radius: 10px;
  }

  > button {
    height: 100%;
    width: 20%;
  }
}

.recmWriteForm {
  margin-left: 30px;

  > textarea {
    border: 1px solid #5b9086;
  }

  > button {
    height: 100%;
    width: 20%;
    background-color: #5b9086;
  }
}

/* 여기부터 게시글 작성&수정 */

.boardWriteBox {
  width: 60%;
  padding: 20px;
}

.boardWriteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  display: none;
}

.boardWriteForm {
  > input,
  > textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    border: none;
    color: inherit;
  }

  .input {
    width: 100%;
  }

  > .boardViewImg {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #007560;
  }

  > .inputFile {
    border-top: 1px solid #007560;
    border-bottom: 1px solid #007560;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    width: 100%;

    > label {
      padding: 10px;
      color: #007560;
      border-right: 1px solid #007560;
      font-weight: bold;
      cursor: pointer;
    }

    > .inputFileName {
      padding: 10px;
      padding: 10px;
      color: #435350;
    }
  }

  > textarea {
    border-top: 1px solid #007560;
    border-bottom: 1px solid #007560;
  }
}
